
@{
    ViewBag.Title = "Education";
}

@Html.ActionLink("Back to Profile", "Index")

<h2>Education</h2>
<hr />

<ul>
    @foreach (var edu in Model)
    {
        <li>
            <strong>@edu.Degree</strong> from @edu.Institution (@edu.YearOfCompletion)
        </li>
    }
</ul>
