
@{
    ViewBag.Title = "Index";
}

<h2>User Profile</h2>
<hr />

<div>
    <ul>
        <li>
            @Html.ActionLink("Portfolio", "Portfolio")
        </li>
        <li>
            @Html.ActionLink("Education", "Education")
        </li>
        <li>
            @Html.ActionLink("Projects", "Projects")
        </li>
    </ul>
</div>

