
@{
    ViewBag.Title = "Contact";
}

<a href="~/Views/Portfolio/Contact.cshtml">Contact</a>
<a href="~/Views/Portfolio/Education.cshtml">Education</a>
<a href="~/Views/Portfolio/Projects.cshtml">Projects</a>


<h2>Contact</h2>
<p>Name:</p> Tanvir Alam Tanim
<p>ID:</p> 22-46534-1
<p>Dept: </p> CSE
