
@{
    ViewBag.Title = "Education";
}
<a href="~/Views/Portfolio/Contact.cshtml">Contact</a>
<a href="~/Views/Portfolio/Education.cshtml">Education</a>
<a href="~/Views/Portfolio/Projects.cshtml">Projects</a>

<h2>Education</h2>
<ul>HSC</ul>
<li>CHITTAGONG - 2020</li>
<ul>SSC</ul>
<li>COMILLA - 2018</li>

