
@{
    ViewBag.Title = "Projects";
}

<a href="">Contact</a>
<a href="~/Views/Portfolio/Education.cshtml">Education</a>
<a href="~/Views/Portfolio/Projects.cshtml">Projects</a>


<h2>Projects</h2>
<table>
    <tr>
        <th>Course</th>
        <th>Title</th>
        <th>Project Description</th>
    </tr>
    <tr>
        <td>OOP1</td>
        <td>MEDSHOP</td>
        <td>Chain Pharma Shop</td>
    </tr>
    <tr>
        <td>OOP2</td>
        <td>MOBILE SHOP</td>
        <td>Custom Mobile shop</td>
    </tr>
    <tr>
        <td>Web Technologies</td>
        <td>Artisanal Tea Marketplace</td>
        <td>Tea blending and product sample shop</td>
    </tr>

</table>