
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Featured Products", "FeaturedProducts") @Html.ActionLink("Category Products", "Categories") @Html.ActionLink("Review Products", "ProductReviews")
</div>
